version: '3.8'

services:
  web:
    build: .
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://dilshad:password@db:5432/resumedb
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=dilshad
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=resumedb
    ports:
      - "5432:5432"

volumes:
  postgres_data: